version: 2.1

orbs:
  architect: giantswarm/architect@2.8.0

workflows:
  test:
    jobs:
      - architect/go-test:
          name: go-test
          resource_class: large
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/go-build:
          name: go-build
          binary: awscnfm
          requires:
            - go-test
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-to-quay
          context: architect
          image: "quay.io/giantswarm/awscnfm"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          filters:
            # Needed to trigger job also on git tag.
            tags:
              only: /^v.*/
